img {
  max-width: 100%;
}

iframe {
  width: 100% !important;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

figure,
p,
ul,
ol {
  margin-bottom: 1.5rem;
}

table {
  width: 100%;
}

blockquote {
  font-weight: 300;
  position: relative;
  padding: 1rem 3rem;
  margin-bottom: 1.5rem;
  &::before,
  &::after {
    position: absolute;

    content: "";
    font-size: 5rem;
    width: 2.5rem;
    height: 2.5rem;
    display: block;
    background-size: 2.5rem;
    background-repeat: no-repeat;
    opacity: 0.1;
  }

  &::before {
    top: 0.75rem;
    left: 0;
    transform: rotate(180deg);
  }

  &::after {
    bottom: 0.75rem;
    right: 0;
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
